import(dplyr)
import(fixest)
import(parallel)
import(plotrix)
import(sampling)
import(stringr)

importFrom("graphics", "axis", "lines")
importFrom("stats", "as.formula", "cov", "lm", "predict", "residuals",
           "sd")
importFrom("assertthat", "are_equal")

export(did_multiplegt)
